* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: linear-gradient(to bottom, #f8f9fa, #b5c2da, #8392ab);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-image: url("https://media.istockphoto.com/vectors/business-character-sitting-on-a-bubble-speech-social-media-concept-vector-id1141709291"); }

.main {
  background-image: linear-gradient(to bottom right, #b507b5, #720472, #220122);
  color: #f8f9fa;
  color: #220122;
  text-align: center;
  margin: 0 auto;
  color: #f8f9fa;
  border-radius: 10px; }
  .main form {
    border-radius: 10px;
    font-size: 2rem;
    border: 2px solid #b10563;
    padding: 1rem;
    height: 70vh; }
    .main form .display-val {
      font-size: 2rem;
      margin: 3.5rem 0;
      display: flex;
      justify-content: center;
      border: none; }
    .main form label {
      display: flex;
      justify-content: center;
      margin-top: 5rem; }
    .main form input[type="number"] {
      width: 50%;
      border: 1px solid #cb0c9f;
      border-radius: 4px;
      box-sizing: border-box;
      text-align: center;
      padding: 0.4rem 0; }
  .main h1 {
    display: flex;
    align-items: flex-start;
    margin: 0 auto; }
  .main button {
    padding: 0.4rem 1.2rem;
    background-color: #cb0c9f;
    color: #fff;
    border: none;
    border-radius: 4px; }
    .main button:hover {
      cursor: pointer;
      background-color: #ca0fca;
      transform: scale(1.05); }
