@media (max-width: 900px) {
  .main {
    width: 50%;

    form {
      font-size: 2rem;

      .display-val {
        font-size: 1rem;
        margin: 2rem 0;
      }

      h1 {
        display: block;
        font-size: 2rem;
      }
    }
  }
}

// on screen size maxWidth of 600px

@media (max-width: 600px) {
  .main {
    width: 65%;

    form {
      font-size: 1.5rem;
      height: fit-content;

      h1 {
        display: block;
        font-size: 1rem;
      }
    }

    input[type="number"] {
      width: 90%;
    }

    #btn {
      margin: 1rem 0;
    }
  }
}