* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #f8f9fa, #b5c2da, #8392ab);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-image: url("https://media.istockphoto.com/vectors/business-character-sitting-on-a-bubble-speech-social-media-concept-vector-id1141709291");
}

.main {
  background-image: linear-gradient(
    to bottom right,
    rgb(181, 7, 181),
    rgb(114, 4, 114),
    rgb(34, 1, 34)
  );
  color: #f8f9fa;
  color: rgb(34, 1, 34);
  text-align: center;
  margin: 0 auto;
  color: #f8f9fa;
  border-radius: 10px;

  form {
    border-radius: 10px;
    font-size: 2rem;
    border: 2px solid rgb(177, 5, 99);
    padding: 1rem;
    height: 70vh;

    .display-val {
      font-size: 2rem;
      margin: 3.5rem 0;
      display: flex;
      justify-content: center;
    }
  
    label {
      display: flex;
      justify-content: center;
      margin-top: 5rem;
    }

    input[type="number"] {
      width: 50%;
      border: 1px solid #cb0c9f;
      border-radius: 4px;
      box-sizing: border-box;
      text-align: center;
      padding: 0.4rem 0;
    }
  }

  h1 {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
  }

  button {
    padding: 0.4rem 1.2rem;
    background-color: #cb0c9f;
    color: #fff;
    border: none;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
      background-color: rgb(202, 15, 202);
      transform: scale(1.05);
    }
  }
}
